{% extends "base.html" %}

<!-- NOTE: load static required outside the base.html?
TODO: remove static statement if inside html file
Why inside? to use jinja templating url-->
{% block script%}
<!--{% load static %}-->
<!--script src="{% static "course/test.js" %}"/></script-->
<script>

$( "#course_position_div" ).css( "border", "3px solid red" );

$(document).ready(function() {
console.log("started script");
function refreshPos(){
    console.log("refreshed");

    $.ajax({
        url: '{% url 'course:course_position' %}',
        success: function(data) {
        $('.course_position_div').html(data);
    }
    });
}
setInterval(function(){refreshPos()}, 5000);
});
</script>
{% endblock %}


{% block title %}{{ ccourse }}{% endblock %}
{% block content %}

{% include 'course_position_div.html' %}
{% endblock %}