{% extends "base.html" %}
{% block script%}

<!--The script is inside the HTML file so that the Jinja2 tag "url" is resolved
This is so we don't need to hardcode the url in-->
<script>
$(document).ready(function() {
console.log("started script");
function refreshPos(){
    console.log("refreshed");

    $.ajax({
        url: '{% url 'course:course_position' %}',
        success: function(data) {
        $('.course_position_div').html(data);
    }
    });
}
setInterval(function(){refreshPos()}, 5000);
});
</script>
{% endblock %}

{% block title %}{{ ccourse }}{% endblock %}

{% block content %}
{% include 'course_position_div.html' %}
{% endblock %}