{% extends "border_frame.html" %}
{% block title %}{{ course_id }}{% endblock %}

{% block script %}
    <script>
        $("#tatimes").hide();
        $("#display").click(function(){
            $("#tatimes").toggle();
        });
    </script>
{% endblock %}

{% block frame %}

    <h1 style="text-align:center">{{ course_id }} - {{ course_model.name }}</h1>

    <div align="center" style="padding: 5px">
        <h4>Are you waiting for a TA?</h4>
        <!--NOTE: Should this to be auto-updated?-->
        <small>Current length of queue: {{ queue_length }}</small>
        {% if can_enter %}
        <form action="/course/{{ course_id }}/in_queue" method ="post">{% csrf_token %}
            <button  class="form-control btn-enqueue" type="submit" >Put me in the queue!</button>
        </form>
        {% else %}
        <p>There are no TAs currently available, check TA times below for availability</p>
        {% endif %}
    </div>

    <div class ="gridDiv-left">
        <h4><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> TA times:</h4>
        {% if ta_times %}
            <ul class="list-group">
            {% for time in ta_times %}

                    <li class="list-group-item">
                        <h5 class="list-group-item-heading">{{ time.display_week_time }}</h5>
                        <small class="list-group-item-text">{{ time.display_room }}<br />{{ time.display_ta }}</small>
                    </li>
            {% endfor %}
            </ul>
            {% if all_ta_times %}
                <button class="form-control btn-tatimes" id="display" type="button">All TA times</button>
                    <div id="tatimes" style="padding-top: 10px">
                        {% include "ta_time.html"%}
                    </div>
            {% endif %}
        {% else %}
            <p>No times are available.</p>
        {% endif %}

    </div>

    <div class ="gridDiv-right">
        <h4><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Assignments:</h4>
        {% if assignments %}
            <ul class="list-group">
            {% for assignment in assignments %}

                    <li class="list-group-item">
                        <h5 class="list-group-item-heading">{{ assignment.display_name }}</h5>
                        <small class="list-group-item-text">{{ assignment.display_delivery_deadline }}
                            <br />{{ assignment.display_demo_deadline }}</small>
                    </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No assignments.</p>
        {% endif %}
    </div>

{% endblock %}