{% extends "contentFrameBase.html" %}
{% block script%}

<!--The script is inside the HTML file so that the Jinja2 tag "url" is resolved
This is so we don't need to hardcode the url in-->
<script>
$(document).ready(function() {
    console.log("started script");
    var isAlerted = false;
    var refreshTime = 5000;
    var alertText = "It is your turn!";

    function refreshPos(){
        console.log("refreshed div");
        $.ajax({
            url: '{% url 'course:course_position' %}',
            success: function(data) {
            $('.course_position_div').html(data);
            }
        });

        if (!isAlerted) {
            if ($('#pos0').text().length != 0) {
                alert(alertText);
                isAlerted = true;
            };
        };
    }

    setInterval(function(){refreshPos()}, refreshTime);

});
</script>
{% endblock %}

{% block title %}{{ ccourse }}{% endblock %}

{% block contentAdmin %}

    <div align="center">
        <h1>{{ ccourse }} - {{ course_model.Name }}</h1>
        <h3>Queue:</h3>
    </div>

    {% include 'course_position_div.html' %}

{% endblock %}