{% extends "border_frame.html" %}
{% block title %}Courses{% endblock %}
{% block contentAdmin  %}
        <div class="gridDivCourse">
                    {% if courses  %}
                         <h3>Courses:</h3>
                    {% else %}
                        <h3>You have no courses, you can add one under <a href="settings/edit_course">settings</a></h3>
                    {% endif %}
                    {% for course in courses %}
                        <a style=" text-decoration: none;" href="/course/{{ course }}"><div style="background-color: #3a5c80; margin-bottom: 4px; padding:15px 0 15px 15px" >
                              <h3 style="color: white">{{ course }} - {{ course.name }}</h3>
                        </div></a>
                    {% endfor %}
        </div>
        <div class="gridDivCourse">

                    {% if ta_in%}
                        <h3>You are a TA in:</h3>
                    {% endif %}
                    {% for course_ta in ta_in %}
                        <a style=" text-decoration: none;" href="/course/{{ course_ta }}/ta"><div style="background-color: #3a5c80; margin-bottom: 4px; padding:15px 0 15px 15px" >
                            <h3 style="color: white">{{ course_ta }} - {{ course_ta.name }}</h3>
                        </div></a>
                    {% endfor %}
        </div>

        <div class ="gridDiv">
            {% if assignments %}
                <h3>Assignments:</h3>
            {% else %}
                <h3>You have no assignments</h3>
            {% endif %}
            {% for assignment in assignments %}
                <li>
                    <h5>{{ assignment.display_course }}: {{ assignment.display_name }}</h5>
                    <p><small>{{ assignment.display_delivery_deadline }}</small></p>
                    <p><small>{{ assignment.display_demo_deadline }}</small></p>
                </li>
            {% endfor %}
        </div>
    </div>
    {% endblock %}