{% extends "base.html" %}
{% block title %}Courses{% endblock %}
{% block content %}
    {% if courses%}
<h3>Here are your courses:</h3>
    {% endif %}
<ul>
{% for entry in courses %}
        <li><a href="/course/{{ entry.CourseID }}">{{ entry.CourseID }}</a></li>
{% endfor %}
    <a href="course/addTakes"><i>Add course</i></a>
</ul>{% if TAin%}
 <h3>You are a TA in:</h3>
    {% endif %}
<ul>
{% for entry in TAin %}
        <li><a href="/course/{{ entry.CourseID }}/TA">{{ entry.CourseID }}</a></li>
{% endfor %}
</ul>
{% endblock %}