{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
    <header>
        <div class="container">
            <div class="jumbotron">
                <div align="center">
                    <h1>Welcome to BoTA!</h1>
                    <p>The easiest way for students to demonstrate assignments, <br>
                        and for TAs to help their students</p>
                    <br>
                    <form action="/login">
                        <button class="form-control btn-login" type="submit" >Login</button>
                    </form>
                    <br>
                    <small>New to BoTA?</small>
                    <form action="/signup">
                        <button  class="form-control btn-signup" type="submit" >Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </header>

{% endblock %}