{% extends "contentFrameBase.html" %}
{%  block contentAdmin %}
            <h1>You can:</h1>
            {% if is_staff %}
                <a href="/settings/courses" style=" text-decoration: none;"><div style=" padding: 10px;  background-color: #090080; color:white; align-content: center; margin-bottom: 4px;"><span class="glyphicon glyphicon-cog"></span> Add, edit or remove courses</div></a>
                <a style=" text-decoration: none;"><div style=" padding: 10px;  background-color: #090080; color:white; align-content: center; margin-bottom: 4px;"><span class="glyphicon glyphicon-cog"></span> Promote user to admin</div></a>
                <a style=" text-decoration: none;"><div style=" padding: 10px;  background-color: #090080; color:white; align-content: center; margin-bottom: 4px;"><span class="glyphicon glyphicon-cog"></span> Edit your account</div></a>
            {% else %}
             <a href="/settings/editCourse" style=" text-decoration: none;"><div style=" padding: 10px;  background-color: #090080; color:white; align-content: center; margin-bottom: 4px;"><span class="glyphicon glyphicon-cog"></span> Add or remove courses</div></a>
            <a style=" text-decoration: none;"><div style=" padding: 10px;  background-color: #090080; color:white; align-content: center; margin-bottom: 4px;"><span class="glyphicon glyphicon-cog"></span> Edit your account</div></a>
            {% endif %}

{%  endblock %}


