{% extends "admin/baseAdmin.html" %}
{%  block contentAdmin %}
        <div style="width: 80%; background-color: white; margin: 0px auto; height: 100%; padding-top:10px;">
            <h1>You can:</h1>
            <a href="/admin/courses" style=" text-decoration: none;"><div style=" padding: 10px;  background-color: green; color:white; align-content: center; margin-bottom: 4px;">Add, edit and remove courses</div></a>
            <a style=" text-decoration: none;"><div style=" padding: 10px;  background-color: green; color:white; align-content: center; margin-bottom: 4px;">Promote users to admin</div></a>
        </div>
    </div>
{%  endblock %}

