{% extends "admin/baseAdmin.html" %}
{%  block contentAdmin %}
    <div style="width: 100%; height: 100%; padding:4% 10% 0 10%;">
        <hi>Pick a user:</hi>
    {% for user in users %}
        <a href="/settings/courses/{{ courseid }}/addTa/{{ user.username }}/" style=" text-decoration: none; color:white;"><div style="background-color: #3a5c80; margin-bottom: 4px; padding:15px 0 15px 15px" >
         <h1>{{ user.username }}</h1>
         </div>
        </a>
    {% endfor %}
    </div>
{%  endblock %}
