{% extends "border_frame.html" %}
{% block title %}New As{% endblock %}
{%  block frame %}
        <div class = "gridDiv">

            <h1>Add new Assignment:</h1>

            <form action="/settings/courses/{{ course_id }}/add_as/" method="post">{% csrf_token %}
                <label >Name:</label>
                <input type="text" class="new-entry-input form-control"  name="name" value="{{ assignment.name }}" required>

                <label>Description:</label>
                <input type="text" class="new-entry-input form-control"  value="{{ assignment.description }}" name="description">

                <label>Delivery Deadline:</label>
                <input  type="datetime-local" type="text" class="new-entry-input form-control"  value="{{ assignment.delivery_deadline }}" name="delivery_deadline"required>

                <label>Demo Deadline:</label>
                <input  type="datetime-local" type="text" class="new-entry-input form-control"  value = "{{ assignment.demo_deadline }}"name="demo_deadline" required>

                <button class = "new-entry-button btn btn-default" type="submit">Save</button>
            </form>

        </div>

{%  endblock %}
