{% extends "contentFrameBase.html" %}
{%  block contentAdmin %}
        <div class = "gridDiv">

            <h1>Add new Assignment:</h1>

            <form action="/settings/courses/{{ courseid }}/addAs/" method="post">{% csrf_token %}
                <label >Name:</label>
                <input type="text" class="form-control"  name="Name" value="{{ As.name }}" required>

                <label>description:</label>
                <input type="text" class="form-control"  value="{{ As.description }}" name="description">

                <label>delivery_deadline:</label>
                <input  type="datetime-local" type="text" class="form-control"  value="{{ As.delivery_deadline }}" name="delivery_deadline"required>

                <label>demo_deadline:</label>
                <input  type="datetime-local" type="text" class="form-control"  value = "{{ As.demo_deadline }}"name="demo_deadline" required>

                <button class = "btn btn-default" style=" margin:5px 0 0 0; "type="submit">Save</button>
            </form>

        </div>

{%  endblock %}
