{% extends "contentFrameBase.html" %}
{%  block contentAdmin %}
        <div class = "gridDiv">

            <h1>Add new course:</h1>

            <form action="/settings/courses/addCourse" method="post">{% csrf_token %}
                <label>CourseID:</label><i class = "errorLabel"> {{ CourseIDError }}</i>
                <input type="text" class="form-control"  name="CourseID" value="{{ CourseID }}" placeholder="form: AAA0000" required pattern="[A-Z]{3}\d{4}">

                <label >Name:</label>
                <input type="text" class="form-control"  name="Name" value="{{ name }}" required>

                <label>Nickname:</label>
                <input type="text" class="form-control"  value="{{ nickname }}" name="Nickname">

                <label>Term:</label>
                <input type="text" class="form-control"  value="{{ term }}" name="Term">

                <label>Description:</label>
                <input type="text" class="form-control"  value = "{{ description }}"name="Description">

                <button class = "btn btn-default" style=" margin:5px 0 0 0; "type="submit">Save</button>
            </form>

        </div>

{%  endblock %}
