{% extends "admin/baseAdmin.html" %}
{%  block contentAdmin %}
    <div style="width: 80%; margin: 0px auto; height: 100%; padding-top:10px;">
    <div style=" display: inline;  width:200px; background-color: blue">
            <h1>Add new course:</h1>
            <form action="/settings/courses/addCourse" method="post">{% csrf_token %}
                <label>CourseID:</label><i style="color:red"> {{ CourseIDError }}</i><br>
                <input type="text" name="CourseID" value="{{ CourseID }}" placeholder="form: AAA0000" required pattern="[A-Z]{3}\d{4}"><br>

               <label>Name:</label><br>
                <input type="text" name="Name" value="{{ name }}" required><br>

                <label>Nickname:</label><br>
                <input type="text" value="{{ nickname }}" name="Nickname"><br>

                <label>Term:</label><br>
                <input type="text" value="{{ term }}" name="Term"><br>

                <label>Description:</label><br>
                <input type="text" value = "{{ description }}"name="Description"><br>

                <button type="submit">Save</button>
            </form>
    </div>
    <div style="display: inline; width:200px; background-color: white">

    </div>
    </div>

{%  endblock %}
