/*
Base admin
 */

.MainWindow {
    width: 900px;
    background-color: white;
    margin: 0 auto;
    padding-bottom: 40px;
    height: 100%;
    box-shadow: 0px 0px 5px #888888;
    font-family: Helvetica
}

.mainContainer {
    width:80%;
    margin: 0px auto;
    height: 100%;
    padding-top:10px;
}

/* Form information and info pages */
.gridDiv {
    width:300px;
}
.errorLabel {
    color:red;
}