{% extends "border_frame.html" %}
{% block title %}Add Course{% endblock %}
{%  block frame %}
    {% if courses %}
        <h3>Add courses:</h3>
    {% else %}
        <h3>There are no more courses available :/</h3>
    {% endif %}
        {% for course in courses %}
        <div class="list-elements-xl" >
            <div class="btn-container-xl btn-group">
                <a class="btn btn-success"href="/settings/{{ course }}/add_takes"><span class="glyphicon glyphicon-plus"></span> Add</a>
            </div>
              <h3 style="color: white">{{ course }} - {{ course.name }}</h3>
        </div>
        {% endfor %}

{% endblock %}