<!--NOTE: jQuery can't select #id elements for some reason. Use class instead-->
<div class="course_ta_next_div", align="center">
    <div class="queue-first-place-div">
        <h3>Currently helping: </h3>
        {% if next is none %}
            <p>No one is in queue</p>
        {% else %}
            <h3>1. {{ next }}</h3>
            <p> Queue length: {{ queue_length}} </p>

            <form action="/course/{{ course_id }}/rm_queue" method ="post">{% csrf_token %}
                <button  class="form-control btn-dequeue" type="submit" >Next student!</button>
            </form>
    </div>
    <div class="queue-entire-div">
        <h3>Queue:</h3>
        <p>
        {% for student in queue_array %}
            {{ student }}
            <br />
        {% endfor %}
        </p>
    {% endif %}
    </div>
</div>

