{% extends "border_frame.html" %}
{% block title %}{{ course_id }}{% endblock %}

{% block script %}
    <script>
        $("#tatimes").hide();
        $("#display").click(function(){
            $("#tatimes").toggle();
        });
    </script>
{% endblock %}

{% block frame %}

    <h1 style="text-align:center">{{ course_id }} - {{ course_model.name }}</h1>

    <div class ="gridDivCourse" align="center">
        <h4>Are you waiting for a TA?</h4>

        {% if can_enter %}
        <form action="/course/{{ course_id }}/in_queue" method ="post">{% csrf_token %}
            <input type="submit" value="Put me in the queue!">
        </form>
        {% else %}
        <p>There are no TAs currently available, check TA times below for availability</p>
        {% endif %}
    </div>

    <div class ="gridDivCourse">
        <h4>TA times:</h4>
        {% if ta_times %}
            <p>Here are the TA times this week:
            {% for time in ta_times %}
                <li>{{ time.display_weekly }}</li>
            {% endfor %}
            </p>
        {% else %}
            <p>No times are available.</p>
        {% endif %}
        <button id="display" type="button">All TA times</button>
            <div id="tatimes">
                {% include "ta_time.html"%}
            </div>
    </div>

    <div class ="gridDivCourse">
        <h4>Assignments:</h4>
        {% if assignments %}
            <p>Here are the assignments for this week:</p>
            <ul>
            {% for assignment in assignments %}
                <li>
                    <h5>{{ assignment.display_name }}</h5>
                    <small>{{ assignment.display_delivery_deadline }}</small>
                    <small>{{ assignment.display_demo_deadline }}</small>
                </li>
            {% endfor %}

            </ul>

        {% else %}
            <p>No assignments.</p>
        {% endif %}
    </div>

{% endblock %}