{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Bota{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">BoTA</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/settings"><span class="glyphicon glyphicon-wrench"></span> settings</a>
                </li>
                    {% if request.user.is_authenticated %}
                        <li>
                            <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/login"><span class="glyphicon glyphicon-log-in"></span> login</a>
                        </li>
                    {% endif %}
            </ul>
          </div>
        </nav>


        <div class="container-fluid" style="margin-top:60px;">
        {% block content %}

        {% endblock %}
        </div>

        <!--This is a block for page exclusive scripts/js or CSS-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        {% block script %}{% endblock %}
    </body>
</html>