{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Bota{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<header></header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">boTA</a>
    </div>
    <ul class="nav navbar-nav">
    <li><a href="/settings">settings</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="/logout">logout</a></li>
            {% else %}
            <li><a href="/login">login</a></li>
        {% endif %}
    </ul>
  </div>
</nav>
    <div class="container-fluid">
    {% block content %}g{% endblock %}
    </div>
<footer></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>